<launch>
    <!-- robot description -->
    <include file="$(find ros_navigation_humanoid)/launch/robot_desc.launch" />

    <node pkg="rviz" name="rviz_sim" type="rviz" args="-d $(find ros_navigation_humanoid)/rviz/static_display.rviz" output="screen"/>

    <arg name="pelvis_to_foot_heigth" default="0.8" />
    <arg name="robot_name" default="g1_29dof_with_hand"/>
    <node pkg="tf" type="static_transform_publisher" name="pelvis_2_map" args="0 0 -$(arg pelvis_to_foot_heigth) 0 0 0 1 pelvis map 100" />
</launch>