<launch>

    <param name="use_sim_time" value="false" />

    <!-- rosbag file path -->
    <arg name="bag_path" default="$(find ros_navigation_humanoid)/resources/localization_3d.bag" />
    
    <!-- map server -->
    <include file="$(find ros_navigation_humanoid)/launch/map_server.launch" />
    <!-- robot description -->
    <include file="$(find ros_navigation_humanoid)/launch/robot_desc.launch" />

    <node pkg="rviz" name="rviz_sim" type="rviz" args="-d $(find ros_navigation_humanoid)/rviz/bag_play.rviz" output="screen"/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bag_path)"/>
    <node pkg="ros_navigation_humanoid" type="bag_play_node" name="bag_play_node" output="screen" >
        <param name="loc_topic" type="string" value="/localization_3d" />
        <param name="trajectory_topic" type="string" value="/trajectory_path" />
        <param name="pelvis_to_foot_heigth" type="double" value="0.8" />
    </node>

</launch>